<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
</head>
<body>
<div th:replace="fragments/bodyHeader::bodyHeader"></div>
<form th:action="@{/member/save}" th:object="${memberDto}" method="post">
    <div class="container">
        <div class="form-group">
            <label>이메일</label>
            <input type="email" class="form-control" th:field="*{email}" placeholder="이메일을 입력하세요"
                   th:class="${#fields.hasErrors('email')} ? 'form-control fieldError' : 'form-control'">
        </div>
        <div class="form-group">
            <label>비밀번호</label>
            <input type="password" class="form-control" th:field="*{password}" placeholder="비밀번호를 입력하세요"
                   th:class="${#fields.hasErrors('password')} ? 'form-control fieldError' : 'form-control'">
        </div>
        <div class="form-group">
            <label>닉네임</label>
            <input type="text" class="form-control" th:field="*{nickname}" placeholder="닉네임을 입력하세요"
                   th:class="${#fields.hasErrors('nickname')} ? 'form-control fieldError' : 'form-control'">
        </div>
        <div class="form-group">
            <label>연락처</label>
            <input type="text" class="form-control" th:field="*{phone}" placeholder="휴대전화 번호를 입력하세요"
                   th:class="${#fields.hasErrors('phone')} ? 'form-control fieldError' : 'form-control'">
        </div>
        <button type="submit" class="btn btn-primary">회원 가입</button>
    </div>
</form>
</body>
</html>